body {
    margin: 0;
    font-family: monospace;
    background-color: black;
    color: white;
}

#container {
    display: flex;
    height: 100vh;
}

#sidebar {
    width: 250px;
    background-color: #111;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    font-size: 0.75rem;
    white-space: pre-wrap;
    margin-bottom: 2rem;
    text-align: left;
    color: white;
}

#sidebar ul {
    list-style: none;
    padding: 0;
}

#sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

#sidebar a:hover {
    background-color: white;
    color: black;
    padding-left: 5px;
}

.footer {
    margin-top: 2rem;
}

.case-key {
    display: block;
    text-decoration: underline;
    color: white;
    text-transform: uppercase;
}

#main-content {
    flex-grow: 1;
    padding: 40px;
    background-color: #222;
}
